<div class="col-sm-7 col-sm-offset-3">
    <form class="">
        <h2>Reset your password</h2>
        <!--<input type="hidden" name="_csrf"/>-->

        <div class="form-group">
            <label class="control-label">Enter new password</label>
            <input type="password" ng-model="reset.newPassword" placeholder="" autofocus="autofocus"
                   class="form-control"/>
        </div>
        <div class="form-group">
            <label class="control-label">Confirm password</label>
            <input type="password" ng-model="reset.confirmPassword" placeholder="" class="form-control"/>
        </div>
        <div class="form-group">
            <button ng-click="sendNewPassword()" class="btn btn-primary">Reset Password</button>
        </div>
    </form>
</div>