<div class="col-md-12 col-sm-12 col-xs-12">
	<!--<div class="table-responsive">-->
	<table id="no-more-tables" data-sort-order="desc" data-id-field="id" data-show-refresh="true"
	 class="table table-striped table-bordered">
		<thead>
			<tr>
				<th data-field="mid" data-visible="false">MID</th>
				<th data-field="id">N</th>
				<th data-field="name" data-sortable="true">Name</th>
				<th data-field="date" data-sortable="true" data-align="center">Updated</th>
				<th data-field="address">Address</th>
				<th data-field="report" data-events="openReport" data-align="center">Report</th>
				<th data-field="amount" data-sortable="true" data-align="center">Value</th>
				<th data-field="options" data-events="clickRowToOptions" data-align="center">Options</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="room in userRooms" ng-init="$last ? initBsTableAfterRowRepeat() : null">
			<!--<tr ng-repeat="room in userRooms" ng-init="$last ? initBsTableAfterRowRepeat() : null">-->
				<td data-title="mid">{{room._id}}</td>
				<td data-title="id">{{$index+1}}</td>
				<td data-title="Name">{{room.titleProject}}<br>
					<img style="max-width: 180px;" src="{{room.imgPreview}}">
				</td>

				<td data-title="Data">{{room.lastEdited}}</td>
				<td data-title="Address">Name: {{room.projectDetails.address.clientName ? ', ' + room.projectDetails.address.clientName : ''}}<br> {{room.projectDetails.address.street}}{{room.projectDetails.address.city
					? ', ' + room.projectDetails.address.city : ''}}
				</td>
				<td data-title="Report">
					<button class="report btn btn-default">Report</button>
				</td>
				<td data-title="Amount">${{room.projectDetails.project.totalAmount}}</td>
				<td data-title="Options">
					<div type="button" class="edit_project btn btn-default" data-id="{{room}}" data-toggle="tooltip" data-placement="top" title="Edit">
						<span class="glyphicon glyphicon-edit" data-id="{{room}}"></span>
					</div>
					<button type="button" class="share_project btn btn-default" data-id="{{room}}" data-toggle="tooltip" data-placement="top" title="Share">
                    <span class="glyphicon glyphicon-share" data-id="{{room}}"></span>
                </button>

					<button type="button" class="remove_project btn btn-default" data-id="{{room}}" data-bid="{{$index+1}}"
					data-toggle="tooltip" data-placement="top" title="Remove room">
                    	<span class="glyphicon glyphicon-remove" data-id="{{room}}" data-bid="{{$index+1}}"></span>
                	</button>
					<br>
					<div>
						<button type="button" class="up_project btn btn-default" data-id="{{room}}" data-toggle="tooltip" data-placement="top"
						ng-show="templateMaster && !$first" title="Move up">
                    <span class="glyphicon glyphicon-arrow-up" data-id="{{room}}"></span>
                </button>

				<button type="button" class="down_project btn btn-default" data-id="{{room}}" data-toggle="tooltip" data-placement="top"
						ng-show="templateMaster && !$last" title="Move down">
                    <span class="glyphicon glyphicon-arrow-down" data-id="{{room}}"></span>
                </button>
					</div>

					<div ng-show="templateMaster">
						<input type="checkbox" class="show_update btn btn-default" ng-checked="room.showAsTemplate" data-id="{{room}}"/>
						<span>Show as a template </span>
					</div>

				</td>
			</tr>
		</tbody>
	</table>
	<!--</div>-->
</div>
<!--Modal report window-->
<div class="modal fade" id="report-project" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document" id="report">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
				<!-- <h4 class="modal-title" id="myModalLabel">Preview to save</h4> -->
			</div>
			<div class="modal-body">
				<shopping-list count="notEmpty" total="slTotal" report="true"></shopping-list>
				<div class="row">
					<div class="col-md-12">
						<div style="float: right;">
							<!--<button ng-show="notEmpty" ng-click="printSL()" class="btn btn-primary">Print Sopping List</button>-->
							<button class="btn btn-primary" data-dismiss="modal" aria-label="Close">Close</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
