<div class="camera-nav-control" ng-show="isVisible">
    <a class="camera-nav-control-btn up"  ng-mousedown="invokeAction('up')" ng-mouseup="finish()">
        <i class="icon-chevron-up"></i>
    </a>
    <a class="camera-nav-control-btn right"  ng-mousedown="invokeAction('right')" ng-mouseup="finish()">
        <i class="icon-chevron-right"></i>
    </a>
    <a class="camera-nav-control-btn down"  ng-mousedown="invokeAction('down')" ng-mouseup="finish()">
        <i class="icon-chevron-down"></i>
    </a>
    <a class="camera-nav-control-btn left"  ng-mousedown="invokeAction('left')" ng-mouseup="finish()"> 
        <i class="icon-chevron-left"></i>
    </a>
    <a class="camera-nav-control-btn center text-center" ng-mousedown="invokeAction('home')" ng-mouseup="finish()">
        <i class="glyphicon glyphicon-home"></i>
    </a>
</div>