<div class="row prompts">
    <div class="col-md-5 col-sm-5 col-xs-5" id="text">
     
      <p class="prompt" ng-if="!productData.length">
        No items in the cart.
      </p>
    </div>
    
        
</div>
  <div style="height:100%;overflow:auto;" style="width:90%; margin:0 auto;" class="row" ng-if="productData.length">
    <div style="height:100%; margin:0 auto;" class="col-md-12 col-sm-12 col-xs-12" id="sl">
	
	 <div class="col-md-12 col-sm-12 col-xs-12 " style="margin-bottom:2%; padding-left:8%; padding-right:8%; padding-bottom:1.5%; border-bottom:3px solid #b2341e">
	 <div style="width:20%; float:left;" >
      <div style="text-align:left;"><img  style="width:100%" class="responsive" src="shopLogo.png"/></div>
    </div>
	
	<div style="width:30%; float:right;">
     <div style="text-align:right;"><img style="width:100%" class="responsive" src="shopLogoNote.png"/></div>
    </div><br/><br/>
	   
	</div>
	
	        <div style="width:98%; margin: 0 auto; height:100%;">
            <table class="shopping-list-table" style="margin:0 auto;">
                <thead>
                <tr>
                    <th  class="product">Product</th>  
                    <th  class="dimensions">Dimensions</th>
                    <th  class="capacity">Capacity</th>
                    <th  class="unit_price">Unit Price</th>
                    <th  class="shipping">Shipping</th>
                    <th  class="qt">Qty</th>
                    <th  class="tot">Total</th>
                </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="product in productData">
                      <td class="product">  
                        <div>
                          {{product.description}}
                        </div>
                      </td> 
                      <td class="dimensions">  
                          {{product.length}}" x {{product.width}}" x {{product.height}}"
                      </td>
                      <td class="capacity"></td>
                      <td class="unit_price">{{product.msrp |currency: "$": 2}}</td>
                      <td class="shipping">{{product.quantity}}</td>
                      <td class="qt">{{product.quantity}}</td>
                      <td class="tot">{{product.msrp*product.quantity |currency: "$": 2}}</td>
                  </tr>
				  <tr class="table_note" style="color:#000000;font-weight:bold;">
                    <td class="product">Notes</td>
                    <td class="dimensions">Totals:</td>
                    <td class="capacity">1,276</td>
                    <td class="unit_price"></td>
                    <td class="shipping">$796.00</td>
                    <td class="qt">9</td>
                    <td class="tot">$5,155.00</td>
                  </tr>
				    
                </tbody>
				      
            </table>  
			<div style="clear:both; padding-left: 0;" class="col-md-12 col-sm-12 col-xs-12">
             <table  class="shopping-list-add-table">
			 <tr>
			 <td class="frst">Finish</td>
			 <td class="scnd">Chestnut</td>
			 <td class="thrd"></td>
			 <td class="frth">$</td>
			 </tr>
			  <tr>
			 <td class="frst">Laquer</td>
			 <td class="scnd">No</td>
			 <td class="thrd"></td>
			 <td class="frth">$</td>
			 </tr>
			  <tr>
			 <td class="frst">Cellar Base</td>
			 <td class="scnd">No</td>
			 <td class="thrd"></td>
			 <td class="frth">$</td>
			 </tr>
			  <tr>
			 <td class="frst">Cellar Molding</td>
			 <td class="scnd"></td>
			 <td class="thrd">Top</td>
			 <td class="frth">$198</td>
			 </tr>
			  <tr>
			 <td class="frst">Cellar Height</td>
			 <td class="scnd">Estate</td>
			 <td class="thrd"></td>
			 <td class="frth"></td>
			 </tr>
			  <tr>
			 <td class="frst">Cellar Size</td>
			 <td class="scnd">19'15"x11'2"</td>
			 <td class="thrd"></td>
			 <td class="frth"></td>
			 </tr>
			</table>   
			<div style="float:left; height:100%; max-width:60%; width:52%;" class="notes">
			<p>*DYO prices are estimages, actual prices may vary</p><br/>
			<p>*Shipping is estimated for all doors. Actual shipping charges will
			be calculated by your sales consultant upon order</p><br/>
			<p>*All moding options and filler scribe are estimated.
			   Your sales consultant will confirm all figurs upon order.</p><br/>
			<p>*Upon receipt of your submitted wine cellar design a Vigilant design 
			consultant will review your order and contact you to assist with any questions
			and possible freight discount on multiple rack orders.</p><br/>
			</div>
			
			<br> 
	<div style="float:right;">
	     <div style="float:left;"><h4 style="font-weight:bold;">GRAND TOTAL: <span>$7,044</span></h4></div>
         <div style="loat:left;"><h4><a style="color:blue; text-decoration: none; float:right;">Buy this DIY cellar design</a></h4></div>
	 </div>
	 </div>
	
	<div style="text-align:center;margin:0 auto;">
         <h1><a style="color:blue; text-decoration: none; text-align:center;">Submit design for review</a></h1>
	 </div>
	 </div>
    </div>
</div>


