
<div class="wall-scroll" ng-class="{invisible : hideScroll}">

    <div class="display-table">

        <div class="wall-scroll-arrow" style="width: 5%;">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true" ng-click="scrollToCorner('left')"></span>
        </div>

        <div class="v-align-middle width90">
            <div class="scroll">
                <div class="scroll-track">

                    <div class="display-table">
                        <div class="track-arrow left">
                            <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
                        </div>
                        <div class="v-align-middle text-center width90">
                            <div class="verticalLine"></div>
                            <div class="verticalLine"></div>
                            <div class="verticalLine"></div>
                        </div>
                        <div class="track-arrow right">
                            <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="wall-scroll-arrow" style="width: 5%;">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true" ng-click="scrollToCorner('right')"></span>
        </div>

    </div>

</div>